.e44_2 {
  overflow: hidden;
}
.e44_2 {
  width: 1440px;
  height: 3072px;
  position: absolute;
}
.e21_73 {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 2048px;
}

.e44_3 {
  overflow: hidden;
}
.e44_3 {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 1024px;
  position: absolute;
}
.e44_5 {
  background-color: rgba(
    254.00000005960464,
    161.0000056028366,
    118.00000056624413,
    1
  );
  width: 1361px;
  height: 342px;
  position: absolute;
  left: 41px;
  top: 32px;
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
}
.e44_6 {
  background-color: rgba(
    121.00000038743019,
    224.000001847744,
    246.0000005364418,
    1
  );
  width: 751px;
  height: 542px;
  position: absolute;
  left: 651px;
  top: 421px;
  border-top-left-radius: 74px;
  border-top-right-radius: 74px;
  border-bottom-left-radius: 74px;
  border-bottom-right-radius: 74px;
}
.e44_8 {
  background-color: rgba(147.421875, 255, 143.4375, 1);
  width: 557px;
  height: 542px;
  position: absolute;
  left: 41px;
  top: 421px;
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
}
.e48_0 {
  color: rgba(103.06250050663948, 103.06250050663948, 103.06250050663948, 1);
  width: 528px;
  height: 122px;
  position: absolute;
  left: 152px;
  top: 123px;
  font-family: Poppins;
  text-align: left;
  font-size: 45px;
  letter-spacing: 0;
}
.e26_14 {
  width: 586px;
  height: 220px;
  position: absolute;
  left: 115px;
  top: 704px;
}
.e26_15 {
  background-color: rgba(
    196.00000351667404,
    196.00000351667404,
    196.00000351667404,
    1
  );
  width: 220px;
  height: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
}
.e26_16 {
  color: rgba(0, 167.87500709295273, 111.91668659448624, 1);
  width: 384px;
  height: 52px;
  position: absolute;
  left: 259px;
  top: 22px;
  font-family: Droid Sans;
  text-align: left;
  font-size: 48px;
  letter-spacing: 0;
}
.e26_17 {
  color: rgba(115.25467827916145, 115.25467827916145, 115.25467827916145, 1);
  width: 305px;
  height: 36px;
  position: absolute;
  left: 259px;
  top: 74px;
  font-family: Droid Sans;
  text-align: left;
  font-size: 26px;
  letter-spacing: 0;
}
.e26_18 {
  color: rgba(0, 0, 0, 1);
  width: 305px;
  height: 48px;
  position: absolute;
  left: 259px;
  top: 132px;
  font-family: Droid Sans;
  text-align: left;
  font-size: 26px;
  letter-spacing: 0;
}
.e26_9 {
  width: 586px;
  height: 220px;
  position: absolute;
  left: 790px;
  top: 459px;
}
.e26_10 {
  background-color: rgba(
    196.00000351667404,
    196.00000351667404,
    196.00000351667404,
    1
  );
  width: 220px;
  height: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
}
.e26_11 {
  color: rgba(0, 167.87500709295273, 111.91668659448624, 1);
  width: 327px;
  height: 52px;
  position: absolute;
  left: 259px;
  top: 22px;
  font-family: Droid Sans;
  text-align: left;
  font-size: 48px;
  letter-spacing: 0;
}
.e26_12 {
  color: rgba(115.25467827916145, 115.25467827916145, 115.25467827916145, 1);
  width: 305px;
  height: 36px;
  position: absolute;
  left: 259px;
  top: 74px;
  font-family: Droid Sans;
  text-align: left;
  font-size: 26px;
  letter-spacing: 0;
}
.e26_13 {
  color: rgba(0, 0, 0, 1);
  width: 305px;
  height: 48px;
  position: absolute;
  left: 259px;
  top: 132px;
  font-family: Droid Sans;
  text-align: left;
  font-size: 26px;
  letter-spacing: 0;
}
.e26_8 {
  width: 586px;
  height: 220px;
  position: absolute;
  left: 115px;
  top: 239px;
}
.e26_2 {
  background-color: rgba(
    196.00000351667404,
    196.00000351667404,
    196.00000351667404,
    1
  );
  width: 220px;
  height: 220px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
}
.e26_3 {
  color: rgba(0, 167.87500709295273, 111.91668659448624, 1);
  width: 374px;
  height: 52px;
  position: absolute;
  left: 259px;
  top: 22px;
  font-family: Droid Sans;
  text-align: left;
  font-size: 48px;
  letter-spacing: 0;
}
.e26_6 {
  color: rgba(115.25467827916145, 115.25467827916145, 115.25467827916145, 1);
  width: 305px;
  height: 36px;
  position: absolute;
  left: 259px;
  top: 74px;
  font-family: Droid Sans;
  text-align: left;
  font-size: 26px;
  letter-spacing: 0;
}
.e26_7 {
  color: rgba(0, 0, 0, 1);
  width: 305px;
  height: 48px;
  position: absolute;
  left: 259px;
  top: 132px;
  font-family: Droid Sans;
  text-align: left;
  font-size: 26px;
  letter-spacing: 0;
}
.e26_0 {
  width: 664px;
  height: 141px;
  position: absolute;
  left: 419px;
  top: 58px;
}
.e26_1 {
  color: rgba(254.00000005960464, 161.0000056028366, 118.00000056624413, 1);
  width: 484px;
  height: 102px;
  position: absolute;
  left: 90px;
  top: 0px;
  font-family: Droid Sans;
  text-align: left;
  font-size: 93px;
  letter-spacing: 0;
}
.e21_0 {
  background-color: rgba(
    254.00000005960464,
    161.0000056028366,
    118.00000056624413,
    1
  );
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 2px;
  top: 1024px;
}
.e21_63 {
  width: 664px;
  height: 141px;
  position: absolute;
  left: 428px;
  top: -31px;
}
.e21_1 {
  color: rgba(0, 167.87500709295273, 111.91668659448624, 1);
  width: 664px;
  height: 141px;
  position: absolute;
  left: 23px;
  top: 20px;
  font-family: Droid Sans;
  text-align: left;
  font-size: 81px;
  letter-spacing: 0;
}
.e21_60 {
  width: 404px;
  height: 423px;
  position: absolute;
  left: 518px;
  top: 565px;
}
.e21_5 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  width: 404px;
  height: 423px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
}
.e21_12 {
  width: 404px;
  height: 190px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e21_14 {
  background-color: rgba(
    122.69537061452866,
    246.49999290704727,
    120.16874939203262,
    0.2199999988079071
  );
  width: 404px;
  height: 129px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;
}
.e21_13 {
  color: rgba(0, 0, 0, 1);
  width: 342px;
  height: 46px;
  position: absolute;
  left: 31px;
  top: 42px;
  font-family: Droid Sans;
  text-align: center;
  font-size: 37px;
  letter-spacing: 0;
}
.e21_71 {
  width: 249px;
  height: 175px;
  position: absolute;
  left: 54px;
  top: 129px;
  background-image: url("/static/image_8.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.e21_72 {
  color: rgba(147.421875, 255, 143.4375, 1);
  width: 305px;
  height: 83px;
  position: absolute;
  left: 47px;
  top: 318px;
  font-family: Droid Sans;
  text-align: center;
  font-size: 31px;
  letter-spacing: 0;
}
.e21_62 {
  width: 404px;
  height: 423px;
  position: absolute;
  left: 990px;
  top: 297px;
}
.e21_6 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  width: 404px;
  height: 423px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
}
.e21_17 {
  background-color: rgba(
    175.75450748205185,
    120.16874939203262,
    246.49999290704727,
    0.2199999988079071
  );
  width: 404px;
  height: 129px;
  position: absolute;
  left: 0px;
  top: 1px;
  border-radius: 65px;
}
.e21_15 {
  width: 404px;
  height: 190px;
  position: absolute;
  left: 0px;
  top: 21px;
}
.e21_16 {
  color: rgba(0, 0, 0, 1);
  width: 342px;
  height: 159px;
  position: absolute;
  left: 31px;
  top: 0px;
  font-family: Droid Sans;
  text-align: center;
  font-size: 37px;
  letter-spacing: 0;
}
.e69_7 {
  width: 231px;
  height: 152px;
  position: absolute;
  left: 87px;
  top: 136px;
  background-image: url("/static/image_10.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.e69_8 {
  color: rgba(209.4642922282219, 169.9999898672104, 255, 1);
  width: 305px;
  height: 83px;
  position: absolute;
  left: 50px;
  top: 315px;
  font-family: Droid Sans;
  text-align: center;
  font-size: 31px;
  letter-spacing: 0;
}
.e21_50 {
  width: 404px;
  height: 405px;
  position: absolute;
  left: 47px;
  top: 297px;
}
.e21_2 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  width: 404px;
  height: 423px;
  position: absolute;
  left: -1px;
  top: 0px;
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
}
.e21_11 {
  width: 404px;
  height: 190px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e21_8 {
  color: rgba(0, 0, 0, 1);
  width: 342px;
  height: 159px;
  position: absolute;
  left: 31px;
  top: 31px;
  font-family: Droid Sans;
  text-align: center;
  font-size: 37px;
  letter-spacing: 0;
}
.e21_10 {
  background-color: rgba(
    120.16874939203262,
    223.76038670539856,
    246.49999290704727,
    0.2199999988079071
  );
  width: 404px;
  height: 129px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;
}
.e21_19 {
  width: 195px;
  height: 184px;
  position: absolute;
  left: 105px;
  top: 129px;
  background-image: url("/static/image_2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.e21_20 {
  color: rgba(121.00000038743019, 224.000001847744, 246.0000005364418, 1);
  width: 305px;
  height: 83px;
  position: absolute;
  left: 46px;
  top: 322px;
  font-family: Droid Sans;
  text-align: center;
  font-size: 31px;
  letter-spacing: 0;
}
.e21_65 {
  width: 131.431884765625px;
  height: 127.23674011230469px;
  position: absolute;
  left: 77px;
  top: 860.9999389648438px;
}
.e21_43 {
  transform: rotate(-30.163285110886065deg);
  width: 100.39971923828125px;
  height: 88.81513214111328px;
  position: absolute;
  left: 0px;
  top: 50.44744873046875px;
  background-image: url("/static/clipart968421_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.e21_64 {
  width: 289.9737243652344px;
  height: 289.9737243652344px;
  position: absolute;
  left: 1137px;
  top: 755px;
}
.e21_45 {
  transform: rotate(28.363831124656915deg);
  width: 214px;
  height: 214px;
  position: absolute;
  left: 101.66472625732422px;
  top: 0px;
  background-image: url("/static/laptop_clip_art.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.e21_66 {
  width: 159.5113983154297px;
  height: 159.5113983154297px;
  position: absolute;
  left: 1251px;
  top: -22px;
}
.e21_54 {
  transform: rotate(-29.297061691036742deg);
  width: 117.16441345214844px;
  height: 117.16441345214844px;
  position: absolute;
  left: 0px;
  top: 57.33294677734375px;
  background-image: url("/static/image_6.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.e21_59 {
  width: 495px;
  height: 468px;
  position: absolute;
  left: 331px;
  top: -31px;
}
.e70_0 {
  width: 559px;
  height: 554px;
  position: absolute;
  left: 112px;
  top: 89px;
  background-image: url("/static/blob_2_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.e70_1 {
  width: 203px;
  height: 203px;
  position: absolute;
  left: 29px;
  top: -31px;
  background-image: url("/static/phone_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.button2 {
  display: inline-block;
  padding: 14px 35px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #079e44;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.e1_2 {
  background-color: rgba(
    254.00000005960464,
    161.0000056028366,
    118.00000056624413,
    1
  );
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e69_5 {
  width: 1438px;
  height: 1024px;
  position: absolute;
  left: 2px;
  top: 0px;
}
.e69_3 {
  width: 1438px;
  height: 905px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("/static/background_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.e70_2 {
  width: 438px;
  height: 425px;
  position: absolute;
  left: 944px;
  top: 114px;
  background-image: url("/static/main_image_blob_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.e21_29 {
  width: 1404px;
  height: 49px;
  position: absolute;
  left: 36px;
  top: 44px;
}
.e21_30 {
  width: 724px;
  height: 48px;
  position: absolute;
  left: 274px;
  top: 3px;
}
.e21_31 {
  color: rgba(0, 0, 0, 1);
  width: 69px;
  height: 35px;
  position: absolute;
  left: 37px;
  top: 6.5px;
  font-family: Poppins;
  text-align: left;
  font-size: 23px;
  letter-spacing: 0;
}
.e21_32 {
  color: rgba(0, 0, 0, 1);
  width: 160px;
  height: 35px;
  position: absolute;
  left: 163px;
  top: 6.5px;
  font-family: Poppins;
  text-align: left;
  font-size: 23px;
  letter-spacing: 0;
}
.e21_33 {
  color: rgba(0, 0, 0, 1);
  width: 114px;
  height: 35px;
  position: absolute;
  left: 380px;
  top: 6.5px;
  font-family: Poppins;
  text-align: left;
  font-size: 23px;
  letter-spacing: 0;
}
.e29_0 {
  color: rgba(0, 0, 0, 1);
  width: 136px;
  height: 40px;
  position: absolute;
  left: 551px;
  top: 4px;
  font-family: Poppins;
  text-align: left;
  font-size: 23px;
  letter-spacing: 0;
}
.e21_34 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  width: 272px;
  height: 62px;
  position: absolute;
  left: 1093px;
  top: -4px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}
.e21_35 {
  color: rgba(7.255999445915222, 158.31250101327896, 67.67860919237137, 1);
  width: 194px;
  height: 33px;
  position: absolute;
  left: 39px;
  top: 14.5px;
  font-family: Poppins;
  text-align: left;
  font-size: 22px;
  letter-spacing: 0;
}
.e21_36 {
  color: rgba(7.255999445915222, 158.31250101327896, 67.67860919237137, 1);
  width: 258px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 2px;
  font-family: Poppins;
  text-align: left;
  font-size: 28px;
  letter-spacing: 0;
}
.e69_4 {
  width: 842px;
  height: 225.18597412109375px;
  position: absolute;
  left: 36px;
  top: 238px;
}
.e17_2 {
  color: rgba(0, 167.87500709295273, 111.91668659448624, 1);
  width: 653px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Droid Sans;
  text-align: left;
  font-size: 74px;
  letter-spacing: 0;
}
.e21_23 {
  color: rgba(255, 255, 255, 1);
  width: 842px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 129px;
  font-family: Droid Sans;
  text-align: left;
  font-size: 51px;
  letter-spacing: 0;
}
.e21_38 {
  transform: rotate(10.663008934657386deg);
  width: 108.55085754394531px;
  height: 34.19096755981445px;
  position: absolute;
  left: 121.326416015625px;
  top: 171.5px;
  border-radius: 300px;
}
.e21_38 {
  border: 8px solid rgba(0, 167.87500709295273, 111.91668659448624, 1);
}
.e15_14 {
  width: 424px;
  height: 108px;
  position: absolute;
  left: 522px;
  top: 722px;
}
.e8_12 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(
    120.22187814116478,
    232.68750607967377,
    195.19897609949112,
    1
  );
  width: 424px;
  height: 108px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 54px;
  border-top-right-radius: 54px;
  border-bottom-left-radius: 54px;
  border-bottom-right-radius: 54px;
}
.e8_12 {
  border: 3px solid rgba(255, 255, 255, 1);
}
.e8_13 {
  color: rgba(87.80677512288094, 99.87500354647636, 96.25452741980553, 1);
  width: 274px;
  height: 72px;
  position: absolute;
  left: 75px;
  top: 18px;
  font-family: Droid Sans;
  text-align: left;
  font-size: 48px;
  letter-spacing: 0;
}
